@page
@model WebApp.Pages.Businesses.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Business[0].BusinessName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Business[0].RegistryCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Business[0].TotalCapital)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Business[0].FoundingDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Business) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistryCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCapital)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoundingDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
